/* ====================== HTML Entities as text ====================== */
/ {
    macros {
      nbsp: nbsp {
          compatible = "zmk,behavior-macro";
          label = "&nbsp;";
          #binding-cells = <0>;
          bindings = <&kp AMPS &kp N &kp B &kp S &kp P &kp SEMI>;
      };

      ensp: ensp {
          compatible = "zmk,behavior-macro";
          label = "&ensp;";
          #binding-cells = <0>;
          bindings = <&kp AMPS &kp E &kp N &kp S &kp P &kp SEMI>;
      };

      emsp: emsp {
          compatible = "zmk,behavior-macro";
          label = "&emsp;";
          #binding-cells = <0>;
          bindings = <&kp AMPS &kp E &kp M &kp S &kp P &kp SEMI>;
      };

      h_lt: h_lt {
          compatible = "zmk,behavior-macro";
          label = "&lt;";
          #binding-cells = <0>;
          bindings = <&kp AMPS &kp L &kp T &kp SEMI>;
      };

      gt: gt {
          compatible = "zmk,behavior-macro";
          label = "&gt;";
          #binding-cells = <0>;
          bindings = <&kp AMPS &kp G &kp T &kp SEMI>;
      };

      amp: amp {
          compatible = "zmk,behavior-macro";
          label = "&amp;";
          #binding-cells = <0>;
          bindings = <&kp AMPS &kp A &kp M &kp P &kp SEMI>;
      };

      quot: quot {
          compatible = "zmk,behavior-macro";
          label = "&quot;";
          #binding-cells = <0>;
          bindings = <&kp AMPS &kp Q &kp U &kp O &kp T &kp SEMI>;
      };

      apos: apos {
          compatible = "zmk,behavior-macro";
          label = "&apos;";
          #binding-cells = <0>;
          bindings = <&kp AMPS &kp A &kp P &kp O &kp S &kp SEMI>;
      };

      copy: copy {
          compatible = "zmk,behavior-macro";
          label = "&copy;";
          #binding-cells = <0>;
          bindings = <&kp AMPS &kp C &kp O &kp P &kp Y &kp SEMI>;
      };

      euro: euro {
          compatible = "zmk,behavior-macro";
          label = "&euro;";
          #binding-cells = <0>;
          bindings = <&kp AMPS &kp E &kp U &kp R &kp O &kp SEMI>;
      };
    };
}
